* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
}
.header {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 54px;
  padding: 0 10px;
}
.nav .logo {
  height: 25px;
  width: 360px;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  top: 5px;
  left: 20px;
  text-decoration: none;
}
.nav .logo img {
  vertical-align: middle;
  width: 100px;
  height: 29px;
}
.search__input {
  background-color: #ffffff;
  width: 200px;
  height: 28px;
  padding: 7px;
  position: relative;
  left: -120px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.search__input .search {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  border: none;
}
.search::placeholder {
  color: #8e8e8e;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  overflow: hidden;
  letter-spacing: 1px;
}
.search:focus {
  outline: none;
}
.nav__item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 260px;
  height: 22px;
  font-weight: 300;
}
.nav__item > a {
  text-decoration: none;
}
.nav__item > a > i {
  color: #252525;
  font-size: 24px;
  outline: none;
  border: transparent;
}
.nav__item > .profile img {
  border-radius: 50%;
  width: 28px;
  vertical-align: middle;
}
.container {
  margin: 30px 330px;
  width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.bio {
  height: 270px;
  width: 935px;
  margin: 0 0 44px 0;
  display: flex;
}
.profile__photo {
  width: 292px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.profile__photo-box {
  height: 168px;
  width: 168px;
  position: relative;
  border: 3px solid #c75092;
  border-radius: 50%;
}
.profile__photo-box img {
  border-radius: 50%;
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  filter: brightness(-2);
  object-fit: cover;
}
.bio__data {
  width: 614px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0;
}
.bio__data-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 0 0 20px 0;
}
.bio__data-heading h2 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  height: 32px;
  white-space: nowrap;
}
.bio__data-heading .bio__data-image {
  width: 18px;
  height: 18px;
  position: relative;
  top: 8px;
  left: 10px;
}
.bio__data-heading button {
  font-size: 14px;
  height: 30px;
  padding: 0 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  word-spacing: 0;
  background-color: #0095f6;
  color: #fafafa;
  border: none;
  outline: none;
  margin: 0 5px 0 30px;
  vertical-align: middle;
}
.bio__data-heading .dropdown {
  margin: 0 5px;
  padding: 0 10px;
}
.bio__data-heading .ecllipse {
  margin: 0 5px;
  position: relative;
  top: 3px;
}
.bio__data-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 400px;
  margin-bottom: 15px;
}
.bio__data-description {
  height: 172px;
  width: 614px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  line-height: 24px;
  word-spacing: 0px;
}

.bio__data-description .description {
  word-wrap: break-word;
  display: inline;
  margin: 10px 0;
}
.description a {
  text-decoration: none;
  color: #00376b;
}
.description .link {
  margin-top: 10px;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-weight: 600;
}
.bio__data-footer {
  height: 14px;
  margin: 5px 0 0;
  display: block;
  font-size: 12px;
  font-size: 500;
  line-height: 14px;
  color: #8e8e8e;
}
.bio__data-footer .friends {
  color: #262626;
  display: inline;
}
.gallery__highlights {
  height: 130px;
  width: 935px;
  /* overflow: auto hidden; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery__highlight-item {
  height: 130px;
  width: 115px;
  padding: 10px 15px;
  text-align: left;
  line-height: 18px;
  font-size: 14px;
  color: #262626;
}
.gallery__highlight-item .highlight__image {
  height: 87px;
  width: 87px;
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.gallery__highlight-item .highlight__image img {
  height: 77px;
  width: 77px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 3.5px;
  left: 4px;
}
.gallery__highlight-item > p {
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  height: 33px;
  width: 85px;
  padding: 15px 0 0 0;
  overflow: hidden;
}
.highlight__nav {
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
  color: #262626;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 58px;
  left: -48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  padding: 0 0 0 4px;
  opacity: 0.6;
}

.highlight__nav i {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .nav {
    width: 100vw;
  }
  .search__input {
    margin: 0 auto;
    left: -80px;
  }
  .container {
    margin: 30px 0;
  }
}
